<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Página Pessoal Luís Bernardo" />
    <meta name="author" content="Luís Bernardo" />
    <title>Experiência Profissional - Página Pessoal Luís Bernardo</title> @*<title>@ViewBag.Title</title>*@
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/site.css" />
</head>

<body id="page-top">
    <div>
        @RenderBody()
        <!-- BARRA DE NAVEGAÇÃO-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="../index.html">Luís Bernardo</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav tamanholetra ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 <!--vai mais para cima ou para baixo--> px-5 px-lg-3 <!--mais afastados uns dos outros--> rounded js-scroll-trigger" href="../separadores/sobremim.html">Sobre <br /> &nbsp;&nbsp;&nbsp;Mim</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link active py-2 px-0 px-lg-3 rounded js-scroll-trigger" href="../separadores/experienciaprofissional.html">&nbsp;Experiência <br /> Profissional</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 px-0 px-lg-3 rounded js-scroll-trigger" href="../separadores/habacademicas.html">Habilitações <br /> &nbsp;Académicas</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 px-0 px-lg-3 rounded js-scroll-trigger" href="../separadores/aptidoescompetencias.html">&nbsp;&nbsp;&nbsp;Aptidões e <br />Competências</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 px-0 px-lg-3 rounded js-scroll-trigger" href="../separadores/funfacts.html">&nbsp;&nbsp;Fun <br />Facts</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- OLÁ-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h1 class="topo page-section-heading text-center text-uppercase text-secondary mb-0">Experiência Profissional</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-dark">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <p class="lead">

                        <div>
                            <br /><br /><br />
                            <h3>Técnico de Marketing</h3>
                            <h4>VIDREIRA IDEAL DO FUNDÃO</h4>
                            <h5>Julho 2019 - Outubro 2020</h5> <br />
                    <p>Funções:</p>
                    <ul>
                        <li>Planeamento e execução do plano de Marketing e Comunicação.</li>
                        <li>Organização, planificação e participação em feiras e eventos do setor, nacionais e internacionais.</li>
                        <li>Apoio na coordenação e realização de processos de criação de produto, canais de venda e distribuição.</li>
                        <li>Social Media Manager e apoio na implementação das estratégias de marketing digital.</li>
                        <li>Colaboração na criação de material de comunicação digital.</li>
                    </ul>

                </div>

                <div>
                    <br /><br /><br />
                    <h3>Técnico de Marketing e Eventos</h3>
                    <h4>UPSTREAM – Valorização do território</h4>
                    <h5>Outubro 2018 - Julho 2019</h5> <br />
                    <p>Funções:</p>
                    <ul>
                        <li>Editar e gerir conteúdos nas plataformas digitais.</li>
                        <li>Gestão da comunicação da marca (Newsletters, Press Release, Comunicações, outras).</li>
                        <li>Gestão de conteúdos e redes sociais.</li>
                        <li>Criar, estruturar, desenvolver e promover serviços e produtos turísticos, e eventos desportivos.</li>
                        <li>Organização e participação em certames, conferências e feiras de turismo nacionais e internacionais.</li>
                        <li>Gestão de parceiros e operadores.</li>
                    </ul>

                </div>

                <div>
                    <br /><br /><br />
                    <h3>Técnico de Marketing</h3>
                    <h4>BIA.PT Marketplace – Comércio e Serviços online</h4>
                    <h5>Julho 2017 - Setembro 2018</h5> <br />
                    <p>Funções:</p>
                    <ul>
                        <li>Criação e implementação do plano de marketing e comunicação.</li>
                        <li>Desenvolvimento de campanhas multicanal direcionadas para e-commerce e e-marketplace.</li>
                        <li>Gestão de conteúdos e redes sociais.</li>
                        <li>Definir e implementar estratégias de marketing digital.</li>
                        <li>Criação e gestão de campanhas de tráfego pago (Google Ads, Facebook Ads, Instagram Ads).</li>
                    </ul>

                </div>

                <div>
                    <br /><br /><br />
                    <h3>Gestão de clientes e Assistente administrativo</h3>
                    <h4>INTERPREV – Segurança, higiene e saúde no trabalho</h4>
                    <h5>Novembro 2014 -Novembro 2016</h5> <br />
                    <p>Funções:</p>
                    <ul>
                        <li>Planeamento de meios técnicos de saúde no trabalho.</li>
                        <li>Acompanhamento e gestão de clientes.</li>
                        <li>Apoio administrativo e controlo de crédito.</li>
                        <li>Controlo e confirmação de faturas.</li>
                    </ul>

                </div>

                <div>
                    <br /><br /><br />
                    <h3>Customer Service Representative</h3>
                    <h4>TELEPERFORMANCE - Contact Center e CRM</h4>
                    <h5>Novembro 2011 - Outubro 2014</h5> <br />
                    <p>Funções:</p>
                    <ul>
                        <li>Serviço de apoio a clientes por telefone.</li>
                        <li>Operador de Back Office</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!--Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">E-mail</h4>
                        <p class="lead1 mb-0">
                            luishdbernardo@gmail.com
                        </p>
                    </div>
                    <!--Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Redes Sociais</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/luishdbernardo" target="_blank"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/luishdbernardo" target="_blank"><i class="fab fa-fw fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/luishdbernardo/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>

                    </div>
                    <!--Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Telemóvel</h4>
                        <p class="lead1 mb-0">
                            (+351) 913 570 304
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright © Your Website 2020</small></div>
        </div>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
    </div>
</body>
</html>
